.pets {
   max-width: 100%;
   background: $color-light-1;
   min-width: $mobile-width;
}

.pets__title {
   width: 400px;
   text-indent: 58px;
   margin: 0 0 60px;
   @media screen and (max-width: 1250px) {
      margin: 0 0 30px;
   }
   @media screen and (max-width: $brake2) {
      width: 290px;
      font-size: 25px;
      line-height: 130%;
      text-indent: 42px;
      margin: 0 0 40px;
   }
}

.pets__cards-conteiner {
   @include flex ($flex-dir: row, $just-cont: space-between);
   width: 100%;
   min-width: $mobile-width;
   margin-bottom: 30px;
   flex-wrap: wrap;
  // gap: 30px;

   @media screen and (max-width: 1250px) {
      max-width: 860px;
   }

   @media screen and (max-width: $brake2) {
      @include flex ();
   }

}

.pet-card {
   @include flex ();
   width: 270px;
   background: $color-light-s;
   border-radius: 9px 9px 0px 0px;
   @extend %transition;
   margin-bottom: 30px;

   &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      cursor: pointer;
   }
}

.pet-card__title {
   margin: 30px 0;
}

.pets__navigation {
   @include flex ($flex-dir: row, $just-cont: space-between);
   width: 340px;

   @media screen and (max-width: 1250px) {
      margin: 10px 0 0;
   }
   @media screen and (max-width: $brake2) {
      width: 300px;
      margin: 13px 0 0;
   }
}

.card3 {
  @media screen and (max-width: $brake2) {
    margin-bottom: 0;
  }
}

.card4 {
      @media screen and (max-width: $brake2) {
   display: none;
      }
}
.card5 {
  @media screen and (max-width: 996px) {
    margin-bottom: 0;
  }
      @media screen and (max-width: $brake2) {
   display: none;
   
      }
}
.card6 {
  @media screen and (max-width: 996px) {
    margin-bottom: 0;
  }
      @media screen and (max-width: $brake2) {
   display: none;
   
      }
}
.card7 {
         @media screen and (max-width: 1250px) {
      display: none;
   }
      @media screen and (max-width: $brake2) {
   display: none;
      }
}
.card8 {
         @media screen and (max-width: 1250px) {
      display: none;
   }
      @media screen and (max-width: $brake2) {
   display: none;
      }
}
