@font-face {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   src: local('georgia-regular'),
      url('../assets/fonts/georgia/georgia-regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   src: local('arial-regular'),
      url('../assets/fonts/arial/arial-regular.ttf') format('truetype');
}
