.vmodal {}

.vmodal.open .modal__overlay,
.vmodal.open .modal__wrapper {
   opacity: 1;
   z-index: 1000;
}

.vmodal.hide .modal__overlay,
.vmodal.hide .modal__wrapper {
   opacity: 1;
   z-index: 1000;
}

.vmodal.open .modal__overlay {
   background-color: rgba(41, 41, 41, 0.6);
}

.vmodal.open .modal__wrapper {
   transform: translateY(10%);
}

.vmodal.hide .modal__overlay {
   background-color: rgba(41, 41, 41, 0);
}

.vmodal.hide .modal__wrapper {
   transform: translateY(-560px);
}

.modal__wrapper,
.modal__overlay {
   opacity: 0;
   z-index: -1;
}

.modal__overlay {
  display: flex;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(41, 41, 41, 0);
   transition: background-color .3s ease-in;
   padding: 0 20px;
}

.modal__wrapper {
   display: flex;
   flex-direction: column;
  // max-width: 100%;
   max-width: 952px;
   background: transparent;
   margin: 0 auto;
   transform: translateY(-560px);
   transition: transform .3s ease-in;
   @media screen and (max-width:1000px) {
    max-width: 700px;
 }
 @media screen and (max-width:740px) {
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  align-items: center;
}
}

.modal__window {
   display: flex;
   justify-content: space-between;
   max-width: 100%;
   margin-right: 50px;
   // height: 500px; 
   background-color: #FAFAFA;
   border-radius: 9px;
   box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   @media screen and (max-width:1000px) {
    //max-width: 650px;
 }
 @media screen and (max-width:740px) {
  flex-direction: column;
  max-width: 550px;
  align-items: center;
}
}

.modal__close-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 52px;
   align-self: flex-end;
   border: 2px solid #F1CDB3;
   border-radius: 100px;
   cursor: pointer;
}

.modal__close-btn span {
   line-height: 180px;
   font-size: 25px;
}

/* .modal__close-btn span {} */

.modal__content {
   max-width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 50px 20px 90px 0;
   @media screen and (max-width:1000px) {
    padding: 30px;
 }
 @media screen and (max-width:740px) {
  padding: 20px;
}
}

.image__wrapper {
  // max-width: 500px;
   width: 100%;
   @media screen and (max-width:1000px) {
    max-width: 350px;
 }
}

.modal__image {
   width: 100%;
}

.pet__title {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #000000;
   margin-bottom: 10px;
}

.pet__subtite {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #000000;

}

.pet__info {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: #000000;

}

.pet__parameters {
   list-style: disc;
   padding-left: 15px;
   
   li {
      margin-bottom: 10px;
   }
}
//----------------------------
