
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-xl: #ffffff;
$color-dark: #000000;
$color-dark-m: #B2B2B2;
$color-dark-3xl: #292929;
$color-dark-1: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-s: #CDCDCD;
$color-light-1:#F6F6F6;;
$color-shadowed: #A9A9A9;
$color-bg-dark:#5C5C5C;

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

$brake1: 1200px;
$brake1080: 1080px;
$brake820: 820px;
$brake2: 760px;
$brake3: 730px;
$brake860: 860px;
$brake4: 425px;
// $brake995: 995px;

